body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#webcam {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    filter: brightness(0.2) grayscale(1);
}

.vignette {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: radial-gradient(circle, transparent 40%, black 120%);
    z-index: -1;
}

/* Kunci posisi Tengah */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form-box {
    background: rgba(15, 15, 15, 0.95);
    padding: 40px;
    border: 1px solid #333;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.1);
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    background: #111;
    border: 1px solid #444;
    color: white;
    box-sizing: border-box;
}

input:focus {
    border-color: #ff3333;
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    background: #ff3333;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover { background: #cc0000; }

.loading-bar { width: 100%; height: 4px; background: #222; margin-top: 20px; }
#progress { width: 0%; height: 100%; background: #ff3333; transition: 0.5s; }
.blink { animation: blinker 1s infinite; }
@keyframes blinker { 50% { opacity: 0; } }
